# System
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Node
node_modules/
npm-debug.log
yarn-error.log

# Next.js
.next/
out/
build/

# Database Data (Docker Volumes)
data/
data/neo4j/data/
data/neo4j/logs/
data/neo4j/import/
data/neo4j/plugins/
data/postgres/data/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
.vscode/
*.swp
*.swo
